[Desktop Entry]
Name=Kimai Tracker
Comment=A plasmoid to track time with Kimai
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Mte90
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=com.example.kimaitracker
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/Mte90/plasmoid-kimai
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Dependencies=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=main.qml
X-Plasma-ConfigDialog-Layout=config.qml

[ConfigDialog]
X-Plasma-ConfigDialog-Layout=config.qml